html{
    background-color: black;}

.x{font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: antiquewhite;
    font-size: 30px;
    text-align: center;
    height: 100%;
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    justify-content: center;}

.y{color: red;
    background-color: #ffd700;
    text-align: center;
    height: 100%;
    width: 700px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    justify-content: center;
    font-size: 100px;}

.z{
    padding: 0%;
    display: block;
    margin: 0px auto;
    align-content: center;
    text-align: center;
    margin-right: 30%;
    margin-top: 5%;}

.clock{
    width: 800px;
    height: 100%;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 50px;
    top: 50%;
    left: 50%;
    justify-content: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
.clock span::after{
    font-size: 16px;
    color: white;
    bottom: -5px;
    left: 50%;
    transform: translatex(-50%);
}