.x{font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
background-color: antiquewhite;
font-size: 50px;
text-align: center;
border: 10px #ffd700;
height: 100%;
width: 100%;
margin: 50px;
padding: 10px;
border-radius: 10px;
justify-content: center;}

.y{color: red;
    background-color: #ffd700;
    text-align: center;
    border: 10px #ffffff;
    height: 100%;
    width: 100%;
    margin: 50px;
    padding: 10px;
    justify-content: center;}

html{
    background-color: black;}